.qhn-loading{
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    position:absolute;
}


.qhn-loader {
    width: 100%;
    height: 100%;
    position: absolute;
    background: lightblue;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;
    z-index: 9999;
    opacity: .5;
}

.loader_ajax_small {
    border: 3px solid #f3f3f3 !important;
    border-radius: 50%;
    border-top: 2px solid #2D2D2D !important;
    width: 29px;
    height: 29px;
    -webkit-animation: spin_loader_ajax_small 2s linear infinite;
    animation: spin_loader_ajax_small 2s linear infinite;
}
